<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=10.10.1.25;Initial Catalog=Rd_Tools;uid='kinpad_adm';pwd='O5t9dGey7JZu';Pooling='true'" />
    <add name="TestHome" connectionString="Server=DESKTOP-2D86E14\SQLEXPRESS;Database=TestDB;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>