<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PatientDev" connectionString="Data Source=10.10.1.25;Initial Catalog=Patient_Data;uid='kinpad_adm';pwd='O5t9dGey7JZu';Pooling='true'" />
    <add name="UserDev" connectionString="Data Source=10.10.1.25;Initial Catalog=User_Data;uid='kindev';pwd='S0leil1!';Pooling='true'" />
    <add name="Home" connectionString="Server=DESKTOP-2D86E14\SQLEXPRESS;Database=AdventureWorks2017;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionTimeout" value="3"/>
  </appSettings>
</configuration>